<launch>

  <arg
      name="map_pcd"
      default="$(env HOME)/livox_fastlio/maps/wheeltec_map_01/public_map.pcd" />

  <node
      pkg="fast_lio_localization"
      type="map_loader"
      name="wheeltec_map_loader"
      output="screen">

    <param name="map_path" value="$(arg map_pcd)" />

  </node>

  <node
      pkg="fast_lio_localization"
      type="fast_lio_localization"
      name="wheeltec_global_localizer"
      output="screen">

    <param name="odom_frame" value="odom" />

    <param name="ndt/debug" value="true" />
    <param name="ndt/num_threads" value="4" />
    <param name="ndt/maximum_iterations" value="30" />
    <param name="ndt/voxel_leaf_size" value="0.20" />
    <param name="ndt/resolution" value="1.0" />
    <param name="ndt/transformation_epsilon" value="0.01" />
    <param name="ndt/step_size" value="0.10" />
    <param name="ndt/thresh_shift" value="0.50" />
    <param name="ndt/thresh_rot" value="0.174533" />
    <param name="ndt/min_scan_range" value="0.50" />
    <param name="ndt/max_scan_range" value="50.0" />

    <remap from="/velodyne_points" to="/cloud_registered_base" />
    <remap from="/odom_lio" to="/fastlio_odom" />

  </node>

</launch>
